@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500,700');

$font-family: 'Montserrat', sans-serif;
$blue: #0000f7;
$light-blue: #00a7f7;
$light-gray: #f5f5f5;
$dark-gray: #888888;
$black: #252525;
$light-black: #323232;

* {
  box-sizing: border-box;
}
.PostCard--container {
  background: $light-black;
  box-shadow: 2px 6px 8px -2px rgba(0, 0, 0, 0.6);
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;

  .Card--section--header {
    color: $light-gray;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 200;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;

    h1 {
      color: $light-gray;
      font-weight: 200;
      border-bottom: 1px solid transparent;
    }
    h1:hover {
      border-bottom: 1px solid $light-gray;
    }

    a {
      text-decoration: none;
      font-weight: 300;
      color: $light-gray;
    }

    .left-postcard {
      display: flex;
      flex-direction: row;
      align-items: center;

      .user-image {
        height: 30px;
        width: 30px;
        margin-right: 10px;
      }
    }

    .time-stamp {
      font-size: 10px;
      text-transform: capitalize;
    }
    .right {
      padding: 2px;
      letter-spacing: 1px;

      #mobile{
        display: none;
      }

      a {
        border-bottom: 1px solid transparent;
      }
      a:hover {
        border-bottom: 1px solid $light-gray;
      }

      .subhub-name {
        margin-bottom: 5px;

        a {
          color: $light-gray;
          text-transform: capitalize;
          font-size: 12px;
          border-bottom: 1px solid transparent;
        }
        a:hover {
          border-bottom: 1px solid $light-gray;
        }
      }
    }
  }

  .Card--section--body {
    margin: 20px 40px;
    color: $light-gray;
    font-weight: 200;
    line-height: 20px;
    margin-bottom: 40px;

    h1,
    a {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 400;
      color: $light-gray;
      text-decoration: none;
      padding-bottom: 20px;
      letter-spacing: 1px;
    }
    .URL{
      a{
        font-size: 12px;
        color:$dark-gray;
      }
    }
    a {
      word-wrap: break-word;
    }

    img {
      width: 100%;
    }
  }

  .bottom {
    // border-top: 1px solid $blue;
    // background: rgba(255, 255, 255, 0.02);
    background: $blue;
    height: 28px;
    display: flex;
    color: $light-gray;
    font-weight: 400;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
    color: $light-gray;
    font-size: 12px;
    flex-direction: row;
    padding: 14px;

    .votes-section {
      display: flex;
      flex-direction: row;
      margin-top: 2px;
      // flex-direction: flex-start;
      align-items: center;

      i {
        margin: 0px 10px;
        font-size: 14px;
        font-weight: 200;
        color: $light-gray;
      }

      i:hover {
        color: $black;
      }
    }
    .user {
      flex-direction: flex-end;
      align-items: center;
      margin-top: 2px;

      p {
        font-weight: 200;

        span {
          font-weight: 400;
        }
      }
    }
  }

  a {
    color: $light-gray;
  }

  #mobile{
    display: none;
  }
}

@media(max-width: 415px){
  .desc-font {
    display: none
  }

  #mobile {
    display: block;
    color: red;
  }
}
