.Dashboard--container {
  // display: flex;
  // justify-content: center;
  // padding-top: 80px;
  width: 70%;
  margin: 0 auto;
}

@media(max-width: 415px){
  .Dashboard--container{
    width: 90%
  }
}
