//placeholder styling
.newPost{
    height:30vh;
    padding-top:10vh;
    background-color:white;
    text-align: center;
    input{
        background: grey;
    }
    button{
        background:green;
    }
}