@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

$font-family: 'Montserrat', sans-serif;
$blue: #0000f7;
$light-blue: #00a7f7;
$light-gray: #d3d3d3;
$dark-gray: #888888;
$black: #252525;
$light-black: #323232;
